
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.gnome-vr-icon {
    background-image: url("vr-symbolic.svg");
    height: 22px;
    width: 22px;
}
